<a href="https://colab.research.google.com/github/Shivakumar890/numpy-student-scores-analysis./blob/main/chapter_appendix-tools-for-deep-learning/jupyter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Using Jupyter Notebooks
:label:`sec_jupyter`


This section describes how to edit and run the code
in each section of this book
using the Jupyter Notebook. Make sure you have
installed Jupyter and downloaded the
code as described in
:ref:`chap_installation`.
If you want to know more about Jupyter see the excellent tutorial in
their [documentation](https://jupyter.readthedocs.io/en/latest/).


## Editing and Running the Code Locally

Suppose that the local path of the book's code is `xx/yy/d2l-en/`. Use the shell to change the directory to this path (`cd xx/yy/d2l-en`) and run the command `jupyter notebook`. If your browser does not do this automatically, open http://localhost:8888 and you will see the interface of Jupyter and all the folders containing the code of the book, as shown in :numref:`fig_jupyter00`.

![The folders containing the code of this book.](https://github.com/d2l-ai/d2l-en-colab/blob/master/img/jupyter00.png?raw=1)
:width:`600px`
:label:`fig_jupyter00`


You can access the notebook files by clicking on the folder displayed on the webpage.
They usually have the suffix ".ipynb".
For the sake of brevity, we create a temporary "test.ipynb" file.
The content displayed after you click it is
shown in :numref:`fig_jupyter01`.
This notebook includes a markdown cell and a code cell. The content in the markdown cell includes "This Is a Title" and "This is text.".
The code cell contains two lines of Python code.

![Markdown and code cells in the "text.ipynb" file.](https://github.com/d2l-ai/d2l-en-colab/blob/master/img/jupyter01.png?raw=1)
:width:`600px`
:label:`fig_jupyter01`


Double click on the markdown cell to enter edit mode.
Add a new text string "Hello world." at the end of the cell, as shown in :numref:`fig_jupyter02`.

![Edit the markdown cell.](https://github.com/d2l-ai/d2l-en-colab/blob/master/img/jupyter02.png?raw=1)
:width:`600px`
:label:`fig_jupyter02`


As demonstrated in :numref:`fig_jupyter03`,
click "Cell" $\rightarrow$ "Run Cells" in the menu bar to run the edited cell.

![Run the cell.](https://github.com/d2l-ai/d2l-en-colab/blob/master/img/jupyter03.png?raw=1)
:width:`600px`
:label:`fig_jupyter03`

After running, the markdown cell is shown in :numref:`fig_jupyter04`.

![The markdown cell after running.](https://github.com/d2l-ai/d2l-en-colab/blob/master/img/jupyter04.png?raw=1)
:width:`600px`
:label:`fig_jupyter04`


Next, click on the code cell. Multiply the elements by 2 after the last line of code, as shown in :numref:`fig_jupyter05`.

![Edit the code cell.](https://github.com/d2l-ai/d2l-en-colab/blob/master/img/jupyter05.png?raw=1)
:width:`600px`
:label:`fig_jupyter05`


You can also run the cell with a shortcut ("Ctrl + Enter" by default) and obtain the output result from :numref:`fig_jupyter06`.

![Run the code cell to obtain the output.](https://github.com/d2l-ai/d2l-en-colab/blob/master/img/jupyter06.png?raw=1)
:width:`600px`
:label:`fig_jupyter06`


When a notebook contains more cells, we can click "Kernel" $\rightarrow$ "Restart & Run All" in the menu bar to run all the cells in the entire notebook. By clicking "Help" $\rightarrow$ "Edit Keyboard Shortcuts" in the menu bar, you can edit the shortcuts according to your preferences.

## Advanced Options

Beyond local editing two things are quite important: editing the notebooks in the markdown format and running Jupyter remotely.
The latter matters when we want to run the code on a faster server.
The former matters since Jupyter's native ipynb format stores a lot of auxiliary data that is
irrelevant to the content,
mostly related to how and where the code is run.
This is confusing for Git, making
reviewing contributions very difficult.
Fortunately there is an alternative---native editing in the markdown format.

### Markdown Files in Jupyter

If you wish to contribute to the content of this book, you need to modify the
source file (md file, not ipynb file) on GitHub.
Using the notedown plugin we
can modify notebooks in the md format directly in Jupyter.


First, install the notedown plugin, run the Jupyter Notebook, and load the plugin:

```
pip install d2l-notedown  # You may need to uninstall the original notedown.
jupyter notebook --NotebookApp.contents_manager_class='notedown.NotedownContentsManager'
```

You may also turn on the notedown plugin by default whenever you run the Jupyter Notebook.
First, generate a Jupyter Notebook configuration file (if it has already been generated, you can skip this step).

```
jupyter notebook --generate-config
```

Then, add the following line to the end of the Jupyter Notebook configuration file (for Linux or macOS, usually in the path `~/.jupyter/jupyter_notebook_config.py`):

```
c.NotebookApp.contents_manager_class = 'notedown.NotedownContentsManager'
```

After that, you only need to run the `jupyter notebook` command to turn on the notedown plugin by default.

### Running Jupyter Notebooks on a Remote Server

Sometimes, you may want to run Jupyter notebooks on a remote server and access it through a browser on your local computer. If Linux or macOS is installed on your local machine (Windows can also support this function through third-party software such as PuTTY), you can use port forwarding:

```
ssh myserver -L 8888:localhost:8888
```

The above string `myserver` is the address of the remote server.
Then we can use http://localhost:8888 to access the remote server `myserver` that runs Jupyter notebooks. We will detail on how to run Jupyter notebooks on AWS instances
later in this appendix.

### Timing

We can use the `ExecuteTime` plugin to time the execution of each code cell in Jupyter notebooks.
Use the following commands to install the plugin:

```
pip install jupyter_contrib_nbextensions
jupyter contrib nbextension install --user
jupyter nbextension enable execute_time/ExecuteTime
```

## Summary

* Using the Jupyter Notebook tool, we can edit, run, and contribute to each section of the book.
* We can run Jupyter notebooks on remote servers using port forwarding.


## Exercises

1. Edit and run the code in this book with the Jupyter Notebook on your local machine.
1. Edit and run the code in this book with the Jupyter Notebook *remotely* via port forwarding.
1. Compare the running time of the operations $\mathbf{A}^\top \mathbf{B}$ and $\mathbf{A} \mathbf{B}$ for two square matrices in $\mathbb{R}^{1024 \times 1024}$. Which one is faster?


[Discussions](https://discuss.d2l.ai/t/421)

In [4]:
import pandas as pd

# Create data
data = {
    "OrderID": [1,2,3,4,5,6,7,8,9,10,
                11,12,13,14,15,16,17,18,19,20],
    "Date": ["2025-01-01","2025-01-02","2025-01-03","2025-01-04","2025-01-05",
             "2025-01-06","2025-01-07","2025-01-08","2025-01-09","2025-01-10",
             "2025-01-11","2025-01-12","2025-01-13","2025-01-14","2025-01-15",
             "2025-01-16","2025-01-17","2025-01-18","2025-01-19","2025-01-20"],
    "Product": ["Laptop","Phone","Shoes","TV","Shirt",
                "Watch","Headphone","Laptop","Phone","Shirt",
                "Shoes","Watch","TV","Headphone","Laptop",
                "Phone","Shoes","Shirt","Watch","Headphone"],
    "Category": ["Electronics","Electronics","Fashion","Electronics","Fashion",
                 "Fashion","Electronics","Electronics","Electronics","Fashion",
                 "Fashion","Fashion","Electronics","Electronics","Electronics",
                 "Electronics","Fashion","Fashion","Fashion","Electronics"],
    "Quantity": [2,5,10,1,6,3,4,1,3,8,5,2,2,6,3,4,12,7,4,5],
    "Price": [50000,20000,2000,40000,1500,5000,3000,50000,20000,1500,
              2000,5000,40000,3000,50000,20000,2000,1500,5000,3000],
    "Total": [100000,100000,20000,40000,9000,15000,12000,50000,60000,12000,
              10000,10000,80000,18000,150000,80000,24000,10500,20000,15000],
    "Region": ["North","South","East","West","North","South","East","West",
               "North","South","West","East","North","South","East","West",
               "North","East","West","North"]
}

# Convert to DataFrame
df = pd.DataFrame(data)

# Save as CSV
df.to_csv("sales.csv", index=False)

print("✅ sales.csv file created successfully!")

✅ sales.csv file created successfully!

In [5]:
import pandas as pd
df = pd.read_csv("sales.csv")
print(df)

    OrderID        Date    Product     Category  Quantity  Price   Total  \
0         1  2025-01-01     Laptop  Electronics         2  50000  100000
1         2  2025-01-02      Phone  Electronics         5  20000  100000
2         3  2025-01-03      Shoes      Fashion        10   2000   20000
3         4  2025-01-04         TV  Electronics         1  40000   40000
4         5  2025-01-05      Shirt      Fashion         6   1500    9000
5         6  2025-01-06      Watch      Fashion         3   5000   15000
6         7  2025-01-07  Headphone  Electronics         4   3000   12000
7         8  2025-01-08     Laptop  Electronics         1  50000   50000
8         9  2025-01-09      Phone  Electronics         3  20000   60000
9        10  2025-01-10      Shirt      Fashion         8   1500   12000
10       11  2025-01-11      Shoes      Fashion         5   2000   10000
11       12  2025-01-12      Watch      Fashion         2   5000   10000
12       13  2025-01-13         TV  Electronics         2  40000   80000
13       14  2025-01-14  Headphone  Electronics         6   3000   18000
14       15  2025-01-15     Laptop  Electronics         3  50000  150000
15       16  2025-01-16      Phone  Electronics         4  20000   80000
16       17  2025-01-17      Shoes      Fashion        12   2000   24000
17       18  2025-01-18      Shirt      Fashion         7   1500   10500
18       19  2025-01-19      Watch      Fashion         4   5000   20000
19       20  2025-01-20  Headphone  Electronics         5   3000   15000

   Region
0   North
1   South
2    East
3    West
4   North
5   South
6    East
7    West
8   North
9   South
10   West
11   East
12  North
13  South
14   East
15   West
16  North
17   East
18   West
19  North

In [ ]:
print(df.head())

In [6]:
total_sales = df['Total'].sum()
print("Total sales of products :",total_sales)

Total sales of products : 835500

In [ ]:
result = df.groupby('Region')['Total'].sum()
print(result)

In [40]:
result = df.groupby('Product')['Total'].sum()
a=result.idxmax()
b=result.max()
print("Best selling product is:",a,"total amount is",b)

Best selling product is: Laptop total amount is 300000

In [ ]:
result = df.groupby('Category')['Total'].sum()
print(result)

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])
df['Month'] = df['Date'].dt.month
result=df.groupby('Month')['Total'].sum()
print(result)

In [ ]:
result = df.nlargest(3,'Total')
print(result)

In [ ]:
result = df.groupby('Product')['Total'].mean()
print(result)

In [ ]:
result = df.groupby('Region')['Total'].sum()
a=result.idxmax()
revenue = result.max()
print("top region:",a)
print("Revenue:",revenue)

In [ ]:
result =df.groupby('Product')['Product'].count()
print(result)

In [ ]:
result =df.groupby('Category')['Quantity'].sum()
a=result.idxmax()
print(a)

In [81]:
df['Days']=df['Date'].dt.day
result = (df.groupby('Days')['Total'].sum()).idxmax()
print(result)

15

In [86]:
result=df['Total'].agg(['min','max','sum'])
print(result)

min      9000
max    150000
sum    835500
Name: Total, dtype: int64

In [97]:
highest_avg_price_product = df.groupby('Product')['Price'].mean().idxmax()
print(highest_avg_price_product)

Laptop

In [103]:
total_electronics_qty = df[df['Category'] == 'Electronics']['Quantity'].sum()
print(total_electronics_qty)

36

In [ ]:
total = df['Total'].sum()
print(total)
per_region =df.groupby('Region')['Total'].sum()
print(per_region)
a=per_region/total * 100
print("Average per region",a)

In [ ]:
df_sorted = df.sort_values('Date')
df_sorted['Cumulative_Sales'] = df_sorted['Total'].cumsum()
print(df_sorted[['Date', 'Cumulative_Sales']])

In [ ]:
top_products = df.groupby('Category').apply(lambda x: x.groupby('Product')['Total'].sum().nlargest(2))
print(top_products)

In [ ]:
monthly_sales = df.groupby('Month')['Total'].sum()
mom_growth = monthly_sales.pct_change() * 100
print(mom_growth)

In [136]:
least_sold_product = df.groupby('Region').apply(lambda x: x.groupby('Product')['Quantity'].sum().idxmin())
print(least_sold_product)

Region
East      Watch
North    Laptop
South     Watch
West     Laptop
dtype: object

/tmp/ipython-input-3832236971.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  least_sold_product = df.groupby('Region').apply(lambda x: x.groupby('Product')['Quantity'].sum().idxmin())

In [143]:
result = df.groupby('Category')['Price'].mean()
print(result)

Category
Electronics    27181.818182
Fashion         2833.333333
Name: Price, dtype: float64

In [147]:
electronics = df[df['Category'] == 'Electronics']
top_region_electronics = electronics.groupby('Region')['Total'].sum().idxmax()
print(top_region_electronics)

North

In [11]:
aov=df['Total'].mean()
revenue_above_aov = df[df['Total']>aov]['Total'].sum()
print(revenue_above_aov)

620000

In [ ]:
trend = df.groupby([df['Date'], 'Category'])['Total'].sum().unstack()
print(trend)

In [ ]:
result = df.groupby('Date')['Total'].sum().sort_values(ascending=False).head(5)
print(result)

In [ ]:
# Total revenue of Electronics
electronics_revenue = df[df['Category'] == 'Electronics']['Total'].sum()

# Total revenue of Fashion
fashion_revenue = df[df['Category'] == 'Fashion']['Total'].sum()

# Overall revenue
total_revenue = df['Total'].sum()

# Calculate percentage shares
electronics_share = (electronics_revenue / total_revenue) * 100
fashion_share = (fashion_revenue / total_revenue) * 100

print("Electronics Revenue Share: {:.2f}%".format(electronics_share))
print("Fashion Revenue Share: {:.2f}%".format(fashion_share))

In [38]:
product_summary = df.groupby('Product').agg({'Total': 'sum', 'Quantity': 'sum'})
highest_quantity_product = product_summary['Quantity'].idxmax()
lowest_revenue_product = product_summary['Total'].idxmin()

print("Product with highest quantity sold:", highest_quantity_product)
print("Product with lowest revenue:", lowest_revenue_product)

Product with highest quantity sold: Shoes
Product with lowest revenue: Shirt

In [ ]:
pivot = pd.pivot_table(df, values='Total', index='Region', columns='Category', aggfunc='sum', fill_value=0)

print(pivot)

In [2]:
result=df.groupby('Region')['Total'].mean()
print(result)

NameError: name 'df' is not defined

In [ ]:
repeat_products = df['Product'].value_counts()
repeat_products = repeat_products[repeat_products > 1]

print("✅ Repeat products (sold in more than one order):")
print(repeat_products)